/* #D8FFFE */
/* #6A96BA */
*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin:0;
  /* font-family: 'Do Hyeon', sans-serif; */
  font-family: 'Acme', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  text-align: center;
}
a{
  text-decoration: none;
}
header{font-size: 1.4em;}
.main-container{
  display:flex;
  flex-direction: column;
}
.header-container{
  background-color: #D8FFFE;
  display: flex;
  justify-content: space-between;
  border-bottom: lightgrey 1px solid;
}
.header-container ul{
  list-style: none;
  display: flex;
  margin:auto;
  align-items: center;
}
.header-container img{
  max-width: 90%;
}
.header-container li{
  text-align: center;
  margin: 0 25px;
}
.header-container li:hover{
  cursor:pointer;
  color:#6A96BA;
}
.main-nav{
  background-color: #6A96BA;
  border-bottom: lightgrey 1px solid;
  color:white;

}
.main-nav a {
  color:white;
  transition: .3 ease-out;
}
.main-nav ul{
  margin:0;
  padding:10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main-nav li{
  margin:15px 50px;
}
.main-nav a:hover{
  cursor: pointer;
  color: #D8FFFE;
}
.content-container{
  display:flex;
  margin:50px;
}
.content-container main{
  display:flex;
  flex-wrap: wrap;
}
.main-piece{
  padding:25px;
  margin:25px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #6A96BA;
}
.content-text{
  margin:50px;
  /* border-bottom: 2px solid #6A96BA; */
}
.main-piece img{
  max-width: 50%;
  align-self: center;
  box-shadow: 0px 5px 15px lightgrey;
}
.main-piece p {
  margin: 5px 0;
}
.main-piece p::first-letter {
  margin-left: 25px;
}
.main-piece footer{
  font-size: 1.5em;
  color: #6A96BA;
  margin: 25px;
  float:right;
  border-radius: 5px;
  padding: 5px;
  transition: .3s ease-out;
}
.main-piece footer:hover{
  color: skyblue;
}
.begin-post::first-letter{
  font-size: 2em;
}
#main-footer{
  background-color: #D8FFFE;
  border-top: lightgrey 1px solid;
  display:flex;
  flex-direction: column;
}
#main-footer ul{
  list-style: none;
  display: flex;
  margin:auto;
}
#main-footer li{
  font-size: 2em;
  margin:5px;
  padding: 5px;
}
#main-footer p{
  font-size: 1.47em;
  align-self: center;
  margin: 1px;
}
#main-footer a {
  color: #6A96BA;
}
.icons-legal{
  text-align: center;
  margin-top:50px;
  font-size: .5em;
}
.big-image{
  display:none;
}

/*******************************************************************
* Media Queries
********************************************************************/
@media(min-width:750px){
  .main-piece{
    flex-direction: row;
  }
  .reverse{
    flex-direction: row-reverse;
  }
}
@media(min-width:1200px){
  .header-container ul{
    max-width: 50%;
  }
  .main-nav li{
    font-size: .85em;
    margin: 0 50px;
  }

  .content-container{
    flex-direction: row;
    flex-wrap: wrap;
  }
  main{
    display: flex;
  }
  .main-piece{
    max-width: 29%;
  }
  .content-text{
    width:100%;
    font-size: .65em;
    margin: 0 15px;
  }
  .main-piece img{
    max-width: 50%;
  }
  .reverse{
    flex-direction: row;
  }
  #main-footer{
    font-size: .6em;
  }
  .big-image{
    display: flex;
    margin:auto;
  }
  .big-image img{
    max-width: 100%;
    box-shadow: 0px 5px 15px lightgrey;
  }
}
/*******************************************************************
* COS page styles
********************************************************************/
.cos-content-container{
  display:flex;
  margin:50px;
}
.cos-content-container a{
  color: #6A96BA;
}
.cos-article{
  padding:15px;
}
.cos-directory{
  padding:15px;
  border-left: 1px solid #6A96BA;
  width:100%;
}
.cos-image{
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 75%;
}
/*******************************************************************
* About
********************************************************************/
.about-image{
  display: flex;
  justify-content: center;
  margin: 50px;
  max-width: 75%;
  border-radius: 50%;
  border:3px solid #6A96BA;
}
.about-main{
  display: flex;
  flex-direction: column;
  margin:50px;
}
.about-content-container{
  display: flex;
}
/*******************************************************************
* Media Queries
********************************************************************/
