/* #D8FFFE */
/* #6A96BA */
*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin:0;
  /* font-family: 'Do Hyeon', sans-serif; */
  font-family: 'Acme', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  text-align: center;
}
a{
  text-decoration: none;
}
header{font-size: 1.4em;}
.main-container{
  display:flex;
  flex-direction: column;
}
.header-container{
  background-color: #D8FFFE;
  display: flex;
  justify-content: space-between;
  border-bottom: lightgrey 1px solid;
}
.header-container ul{
  list-style: none;
  display: flex;
  margin:auto;
  align-items: center;
}
.header-container img{
  max-width: 90%;
}
.header-container li{
  text-align: center;
  margin: 0 25px;
}
.header-container li:hover{
  cursor:pointer;
  color:#6A96BA;
}
.main-nav{
  background-color: #6A96BA;
  border-bottom: lightgrey 1px solid;

}
.main-nav ul{
  margin:0;
  padding:10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main-nav li{
  margin:15px 50px;
transition: .3 ease-out;
}
.main-nav li:hover{
  cursor: pointer;
  color: #D8FFFE;
}
.content-container{
  display:flex;
  margin:50px;
}
.main-piece{
  max-width: 95%;
  display: flex;
  flex-direction: column;
}
@media(min-width:750px){
  .main-piece{
    flex-direction: row;
  }
  .reverse{
    flex-direction: row-reverse;
  }
}
.content-text{
  margin:50px;
  border-bottom: 2px solid #6A96BA;
}
.main-piece img{
  align-self: center;
  box-shadow: 0px 5px 15px lightgrey;
}
.main-piece p {
  margin: 5px 0;
}
.main-piece p::first-letter {
  margin-left: 25px;
}
.main-piece footer{
  font-size: 1.5em;
  color: #6A96BA;
  margin: 25px;
  float:right;
  border-radius: 5px;
  padding: 5px;
  transition: .3s ease-out;
}
.main-piece footer:hover{
}
.begin-post::first-letter{
  font-size: 2em;
}
#main-footer{
  font-size: 1.5em;
  background-color: #D8FFFE;
  border-top: lightgrey 1px solid;
  display:flex;
  flex-direction: column;
}
#main-footer ul{
  list-style: none;
  display: flex;
  margin:auto;
}
#main-footer li{
  margin:5px;
  padding: 5px;
}
#main-footer p{
  align-self: center;
  margin: 1px;
}
#main-footer a {
  color: #6A96BA;
}
